/* BLOCK #reinsurance_block ******************************************************************** */
#reinsurance_block {background:url(../blockreinsurance/img/bg_reinsurance_block.gif) repeat-x 0 0 #c3c7cb}
#reinsurance_block li {
	float:left;

	font-size:13px;
	color:#333;
	text-transform:uppercase;
	text-shadow:0 1px 0 #fff
}
#reinsurance_block .width1 li {width:100%}
#reinsurance_block .width2 li {width:50%}
#reinsurance_block .width3 li {width:33%}
#reinsurance_block .width4 li {width:25%}
#reinsurance_block .width5 li {width:20%}
#reinsurance_block li img{
	float:left;
 
}
#reinsurance_block li span {
	float:left;
	padding-top:12px;

}