@charset "UTF-8";
// Make sure the charset is set appropriately 

@import "compass";
@import "compass/reset";
@import "madeinazores-vars";
@import "bootstrap";
//@import "font-awesome/font-awesome";
//@import "icons";


@import "bourbon/bourbon";

@import "partials/atomos";
@import "partials/typography";
@import "partials/forms";
@import "partials/buttons1";

header{
	.arrow {
      		float: left;
		    position: relative;
		    top: -70px;
		    left: 48%;
		    width: 27px;
		    height: 28px;
		    border: 2px solid #fff;
		    border-right:none;
		    border-top:none;
		    transform: rotate(-45deg);
		}


#headerpage-slider{

	.bx-viewport, .bx-wrapper{
	    position:relative;
	    width:100vw !important;
	    height:100vh !important;
	    top:0;
	    left:0;
	    border:none !important;
	}

	#headerslider{

		.headerslider-container > div.slide-container{
    			height: 100vh !important;
    			 background-repeat: no-repeat;
    			background-position: top center;
   				 background-size: cover;

   				 .headerslider-description{
   				 	position: absolute;
   				 	bottom:0px;
   				 	left:0px;
   				 	width: 100%;
   				 	padding: 0 50px;
					cursor: pointer;
					height: 40vh;
   				 	@media (max-width: $screen-xs) {
						padding: 0 20px;
						height: 45vh;
					}

					h2 {
						
						color: white;
						margin: 0;
						padding: 10px 0;
						letter-spacing: 0.105em;
						@media (max-width: $screen-xs-max) {
							font-size: 22px;
							line-height: 25px;
						}
						@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
							font-size: 28px;
							line-height: 32px;
						}
						@media (min-width: $screen-md) and (max-width: $screen-md-max) {
							font-size: 34px;
							line-height: 38px;
						}

						@media (min-width: $screen-lg) {
							font-size: 38px;
							line-height: 44px;	
						}	
					}
					p {
						width: 60%;
						font-size: 18px;
						line-height: 22px;
						padding: 0.5em 0;
						color: white;
						font-weight: $font-normal;
						font-family:$base-font-family;
						letter-spacing: 0.095em;
						@media (max-width: $screen-xs) {
							font-size: 11px;
							line-height: 16px;
							width: 100%;
						}
						@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
							font-size: 14px;
							line-height: 18px;
							width: 60vw;
						}

						@media (min-width: $screen-md) and (max-width: $screen-md-max) {
							font-size: 16px;
							line-height: 20px;
							width: 60vw;
						}
					}
					button {
						//text-transform: uppercase;
						margin-left:0px;
						margin-top: 20px;
						@media (max-width: $screen-xs) {
							margin: 10px 0;
							@include Button(2px,$white,$black,$black,7px 18px 7px 18px);
							font-size:9px;
							font-weight:400;
						}
						@media (min-width: $screen-sm) and (max-width: $screen-sm-max) {
							margin: 10px 0;
							@include Button(2px,$white,$black,$black,7px 18px 7px 18px);
							font-size:10px;
							font-weight:400;
						}
						@media (min-width: $screen-md) and (max-width: $screen-md-max) {
							margin: 10px 0;
							@include Button(2px,$white,$black,$black,7px 18px 7px 18px);
							font-size:12px;
							font-weight:400;
						}	


					}
   				 }

    	}	
	}
}

}

#page{
	// Coluna da Esquerda 

	#left_column{
			background-color:$white;
			height: 100vh;

			aside{
				height: 100vh;
				#header_logo{
					padding: 30px 0;
					img{
						max-width: 100px!important;
						width: 100%;
						height: auto;
					}
				}	
				#search_block_left{
					button,label{ display:none;}
					.search_query{
						max-width: 160px;
						font-family: $base-font-family;
						@extend .bold;

						@include placeholder {
						    color: $black;
						  }
					}
				}	

				#categories_block_left {
					padding:25px 0;
					.title_block{
					display: none;
					}
					.block_content ul{
						li {
								padding:5px 0;
								>a{
							  		@extend .a;
							  		@extend .bold;
							  		font-family: $base-font-family;
							  		font-size: em(18);
							  		display: block;
							  		//pointer-events: none;
					  			}
					  			>a.selected{
										@extend .active;
								}
								>ul.childMenu{
									display: none;
									li{
										padding: 3px 0 3px 10px;
										>a{
											@extend .a;
									  		//@extend .bold;
									  		font-family: $font-sans-narrow;
									  		font-size: em(16);
									  		display: block;
									  		letter-spacing: 0.13em;
										}
										>a.selected{
											@extend .active;
										}
									}
								}
							}		
					}

				}
			}	
			@media (max-width: $screen-xs-max) {
				position:absolute;
				// top:0px;
				// z-index: 100;
				aside{
		 			position:static;
		 			width: 220px;
		 			height: 100vh;
		 			z-index: 55;
		 			overflow-y: auto;
					 -webkit-overflow-scrolling: touch;
			 			#header_logo{
							padding: 30px 0;
							margin: 0 auto;
							float:none;
							img{
								max-width: 80px!important;
								width: 100%;
								height: auto;
							}
						}
					}	
				}
			}	
	}
	#top_row{
		background-color:$white;
		@media (max-width: $screen-xs-max) {
			position:fixed;
			z-index: 60;
			padding:0 15px;
			height: 50px;
			transition: transform ease-in-out .3s;
			&.isOpen{
					transform: translate3d(220px,0,0);
			}	
		}	

	}
	
	#center_column{
		 //-webkit-overflow-scrolling: touch;
		 position:relative;
		background-color:$white;
		height:100vh;
		transform: translate3d(0,0,0);	
		transition: transform ease-in-out .3s;
		//border:1px solid green;
		// Breadcrumbs
		@import "partials/breadcrumbs";
		// Product Page
		@import "partials/products-pages";

		#home-page-tabs{
				display: none;
			}
		#page-content{
			 //-webkit-overflow-scrolling: touch;
			//border:2px solid blue;

			
			//Shopping Cart Page
			@import "partials/shoppingCart-page";

			//@import "partials/productList-grid";
			#homefeatured{
				margin:0 -15px;
			}
			.owl-stage-outer>.owl-stage>.owl-item>.item{
					width: 100%;
					height:330px;
			}
			

		}
		@media (max-width: $screen-xs-max) {
				padding-top:50px;
			&.isOpen{
				transform: translate3d(220px,0,0);
			}
		}
}



//---MENU TOPO - NAVEGACAO
@import "partials/top-navegation";
// CART _ TOP
@import "partials/carrinhoDeCompras";

//  SEARCH - LEFT COLUMN 
// Show Ajax Results
@import "partials/search_dropdown";





