@import "compass";
@import "theme_variables";

/* primary_block ***************************************************************************** */
.primary_block {
	margin-bottom: 40px;

		/* .pb-left-column ***************************************************************************** */
	.pb-left-column {
		img {
			max-width: 100%;
			height: auto;
		}
			
		#image-block {
			position: relative;
			display: block;
			cursor: pointer;
			padding: 5px;
			//border: 2px solid green;
			background: $light-background;
			@media (max-width: $screen-xs) { //max 767px
				width: 280px;
				margin: 0 auto;
			}
			@media (min-width: $screen-xs) and (max-width:$screen-xs-max) { //max 767px
				width: 45vw;
				float: left;
			}
			@media (min-width:$screen-sm)  and (max-width:$screen-sm-max){
				margin: 0 auto;

			}
 
			img {
				background: $base-box-bg;
				width: 85%;
			}
			/*
				#view_full_size {
					.span_link {
						position: absolute;
						bottom: 20px;
						left: 50%;
						margin-left: -68px;
						display: block;
						padding: 10px 0;
						text-align: center;
						line-height: 22px;
						color: #777676;
						width: 136px;
						text-align: center;
						font-weight: 700;
						background: rgba(255,255,255,0.5);
						@include box-shadow(0 2px 8px rgba(0,0,0,0.16));
						&:after{
							font-family: $font-icon;
							color: #c0c0c0;
							font-size: 20px;
							line-height: 22px;
							content: "\f00e";
							font-weight: normal;
							margin: 0 0 0 4px;
						}
						&:hover:after{
							color: $base-text-color
						}
					}
				}
				a.jqzoom {
					div div {
						img {
							width: auto;
							max-width: 10000px;
						}
						.zoomWrapper {
							border: none;
						}
					}
				}
				.zoomPad {
					z-index : auto!important;
				}
				.new-box,
				.sale-box {
					z-index: 5002
				}
			*/
		}
		
	}

	.pb-right-tmpo{
		float: left;
		padding-left:15px;
		@media (max-width: $screen-xs){
			display: none;
		}
		@media (min-width: $screen-xs) and (max-width:$screen-xs-max){
			display: block;
			visibility: visible;
			width: 50vw;
			position:relative;
			top: 0;

			p#add_to_cart.buttons_upper_block{
				display: block!important;
				visibility: visible !important;
				position:relative;
			    margin:0;
			    padding-top:15px;
			    //top: -39px;
			    //float: left;
			    //right: 0;
			}
		}
		@media (min-width: $screen-sm){
			display: block;
			visibility: visible;
			width: 23vw;
			position:relative;
			top: 0;
				p#add_to_cart.buttons_upper_block{
				display: block!important;
				visibility: visible !important;
				position:relative;
			    margin:0;
			    padding-top:15px;
			    //top: -39px;
			    //float: left;
			    //right: 0;
			}
		}

	}
	/* pb-left-column ****************************************************************************** */
	.pb-center-column {
		margin-bottom: 30px;
		@media (min-width: $screen-xs) and (max-width:$screen-xs-max){
			width: 100vw;
			float: left;
			
		}
		@media (min-width: $screen-md) and (max-width:$screen-sm-max){
			width: 50vw;
			float: left;
		}
		p {
			margin-bottom: 10px;
		}

		@media (min-width: $screen-xs) and (max-width:$screen-xs-max){
			
			.our_price_display, #attributes,p#add_to_cart.buttons_upper_block{
				display: none;
			}
		}
		@media (min-width: $screen-sm){
			
			.our_price_display, #attributes,p#add_to_cart.buttons_upper_block{
				display: none;
			}
		}
		
	}	

		.our_price_display {
			font-weight: 600;
			font-size: 25px;
			line-height: 32px;
			font-family: $font-custom;
			color: $product-price-color;
			@media (max-width: $screen-sm-max) { //max 991px
				font-size: 26px;
				line-height: 28px;
			}
			.price {
				font-weight: 400;
				font-size: 25px;
				line-height: 30px;
				color: $product-price-color;
				@media (max-width: $screen-sm) { //max 991px
					font-size: 25px;
					line-height: 28px;
					float:right;
					margin: 5px 0;
				}

				@media (min-width: $screen-xs) and (max-width:$screen-xs-max) { 
					font-size: 25px;
					line-height: 28px;
					float:left;

				}	

			}
		}

		#attributes{
			label{
				display: none;
			}
			@media (min-width: $screen-xs) and (max-width:$screen-xs-max) { 
				padding-top:15px;	
			}

		}
		.page-product-box{
			width: 100%;
			@media(max-width:$screen-xs){
				padding-top:20px;
			}
			// @media (min-width:$screen-xs) and (max-width:$screen-xs-max){

			// }
		}
		p#add_to_cart.buttons_upper_block{
			@media (max-width:$screen-xs){
				position:relative;
			    margin:0;
			    top: -39px;
			    float: right;
			    right: 0;
			    	.AddCartB-2{
						margin:0;
					}
			   }
			@media (min-width:$screen-xs) and (max-width:$screen-xs-max){
				text-align: left;

				.AddCartB-2{
					margin:0;

					i{
						margin: 0 6px;
					}
				}
			}

			@media (min-width:$screen-sm){
				text-align: left;

				.AddCartB-2{
					margin:0;
					letter-spacing: 0;
					padding: 0 5px 0 15px!important;
					i{
						margin: 0 6px;
					}
				}
			}
		}
		p#add_to_cart.buttons_bottom_block{
			@media (max-width:$screen-xs){
				text-align: center;
			}
			@media (min-width:$screen-xs) and (max-width:$screen-xs-max){
				text-align: left;
				margin-top:40px;
				.AddCartB-1{
					margin:0;
				}
			}
			@media (min-width:$screen-sm){
				text-align: left;
				margin-top:40px;

				.AddCartB-1{
					margin:0;
					letter-spacing: 0;
					padding: 0 5px 0 15px;
				}
			}
		}

}

