/* Block specials */

  .carousel-control{
	z-index:10;
	background: none;
	background-image:none; 
}
#leorelatedcarousel .p-item.last_item .product-container{border-right: 0;}
#leorelatedcarousel{margin: 0;}
