/// CART STEPS 


ul.step {
	margin-bottom: 30px;
	overflow: hidden;
	//min 480px
	@media (min-width: $screen-sm) {
		@include border-radius(4px);
	}
	li {
		float: left;
		width: 20%;
		text-align: left;
		border: 1px solid;
		border-top-color: #cacaca;
		border-bottom-color: #9a9a9a;
		border-right-color: #b7b7b7;
		border-left-width: 0px;
		// max 480px
		@media (max-width: $screen-sm - 1) {
			width: 100%;
			border-left-width: 1px;
		}
	}	
}		