

// CART on TOP
#drop-cart{
	display:none;
	position: absolute; //fixed;
	top: 50px;
	max-height: 70vh;
	width: 35vw;
	/* header height */
	//padding-top: 50px; 
	overflow-y: hidden;
	//-webkit-overflow-scrolling: touch;
	box-shadow: 0 0 20px rgba(#000, .2);
	z-index: 80;
	right: 13.4%;
	background: #FFF;
	> * {
		padding: 0 1em;
	}	
	.cart-header{
		width: 100%;

		h2 {
			font-family: $heading-font-family;
  			font-size:22px;
			@extend .bold;
			text-transform: uppercase;
			margin: 1em 0;
			width: 100%;
			text-align: center;
		}
		.icon-cross{
			height: 30px;
			width: 30px;
			position: absolute;
		    right: 20px;
		    top: 16px;
		    cursor: pointer;
			@include icon-cross($black,30px,2px);
		}
		
	}
	.cart-subheader{
		@extend .border-black;
		font-family: $heading-font-family;
		font-weight: $font-bold;
		font-size: 14px;
		max-width: 93%;
		width: 100%;
		padding-bottom:20px;
		margin: 0 20px;

		span{
			&:first-child{
				margin-left: 100px;
				width: 150px;
			}
			margin:0 5px; 
			float:left;
			width: 45px;

			&:last-child{
				margin-left: 40px;
			}
		}
	}

	.cart-box{
		.products{
			margin: 0 1em;
			max-height: 40vh;
    		overflow-y: scroll;
			-webkit-overflow-scrolling: touch;
		
			.cart-images {
			 	float: left;
				margin-right: 20px;
				img{
					width: 85%;
				}
			}
			.cart-info {
				overflow: hidden;
				width: 100%;
				position: relative;
				padding-right: 5px;
				font-family: $heading-font-family;

				.product-name {
					width: 160px;
					float:left;
					padding-bottom: 5px;
					margin-top: 20px;
					margin-right:15px; 
					a {
						@extend .a;
	  					font-size:16px;
						line-height: 20px;
						display: inline-block;
					}
				}
				.product-quantity {
					max-width: 80px;
					float:left;
					.quantity-formated{
						display: inline-block;
						color: $black;
						text-transform: uppercase;
						font-size: 12px;
			    		padding-right: 5px;
			    		padding-top:20px;

		    			.quantity{
		    			font-size: 16px;
		    			@extend .bold;
		    			}
		    		}
				}
				.product-price{
					float:left;
					font-size: 16px;
					padding-bottom: 5px;
					margin-top: 20px;
					margin-right:10px; 
					display: inline-block;
					color: $black;
					width: 90px;
					text-align:right;
				}
				.product-remove{
					    float: right;
					    width: 20px;
					    height: 20px;
					    margin-top: 20px;
					    margin-left: 15px;
					    .remove_link a{
					    	@include icon-cross($black,20px,2px);
					    }
				}
			}
			dt {
				font-weight: $font-normal;
				overflow: hidden;
				padding: 15px 0 15px;
				margin: 0 20px;
				position: relative;
				&:nth-child(n+1){
					@extend .border-black;
				}
			}
			.last_item{
					border:none!important;
				}
			dd {
				position: relative;
				.cart_block_customizations{
					border-top: 1px solid $black;
					li {
						padding: 10px 20px;

						.deleteCustomizableProduct {
							position: absolute;
							right: 10px;
						}
					}
				}
			}
		}	
	}
	.cart-total{
		height: 80px;
		//padding:10px;
		margin: 0 20px;
		position: relative;
		font-family: $heading-font-family;
		font-size:20px;
		width: 92.5%;
		//margin-right: 
		@extend .bold;
		border-top:$base-border;
		text-align: center;

		>p{
			float: right;
			width: 60%;
    		padding: 10px 0;
			span{
				padding-left:25px;
			}
		}		
	}
	.cart-buttons{
		position:relative;
		height: 80px;
		float: left;
		width: 100%;
		text-align:center;
		.checkout-btn {
			font-family: $heading-font-family;
			font-size:15px;
			@include Button(3px,$white,$black,$black,3% 25.5% 3% 25.5%);
		   text-transform: uppercase;
		   height: 50px;
		}

	}
	.stay-on-bottom{
		width: 100%;
		background-color:$white;
	}
	.cart_block_no_products{
		border-top:$base-border;
		border-bottom: $base-border;
		font-weight: $font-bold; 
		font-size: 20px;
		text-align: center;
	}	

	@media (max-width: $screen-xs-max) {
			width: 100vw;
			max-height:80vh;
			right: 0;
			top: 0;
			margin-top: 60px;

			.cart-header h2 {
	    		font-size: 18px;
	    	}
	    	.cart-header .icon-cross{
				height: 25px;
				width: 25px;
				position: absolute;
			    right: 0px;
			    top: 16px;
				@include icon-cross($black,20px,2px);
			}
			.cart-subheader{ 
				margin:0 10px;
				span{
					margin:0px 0px;
					width: 3em;
				} 
				span:first-child {
					margin-left:0px; 
					width: 32vw;
				}
				span:last-child{
					text-align: right;
					margin-left: 10vw;
				}

			}	

			.cart-box .products{
				max-height: 70vh;
				height: 1000px;
				min-height: 30vh;
				max-width: 93%;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				dt{
					margin:0; 
					.cart-images{
						display: none;
					}
					.cart-info .product-name{
						width: 35vw;
					}
					.cart-info .product-price{
						width: 20vw;
						margin-left: 5vw;
						margin-right:0;
					}
				}
			}
			.cart-total {
				margin:0 10px;
				font-size: 16px; 
			}	
	}	
	@media (min-width: $screen-sm) and (max-width:$screen-md-max) {
			width: 60vw;
			height: auto;
			max-height:70vh;
			right: 5%;
			top: 0;
			margin-top: 50px;

			.cart-header h2 {
	    		font-size: 18px;
	    	}
	    	.cart-header .icon-cross{
				height: 25px;
				width: 25px;
				position: absolute;
			    right: 0px;
			    top: 16px;
				@include icon-cross($black,20px,2px);
			}
			.cart-subheader{ 
				margin:0 10px;
				span{
					margin:0px 0px;
					width: 16vw;
				} 
				span:nth-child(2) {
					margin-left:0px; 
					width: 25vw;
				}
				span:last-child{
					text-align: left;
					margin-left: 0;
					width: 10vw;
				}

			}	

			.cart-box .products{
				max-height: 70vh;
				height: 1000px;
				min-height: 30vh;
				max-width: 93%;
				overflow-y: auto;
				-webkit-overflow-scrolling: touch;
				dt{
					margin:0; 
					.cart-images{
						
					}
					.cart-info .product-name{
						width: 16vw;
					}
					.cart-info .product-price{
						width: 10vw;
						margin-left: 60px;
						margin-right:0;
					}
				}
			}
			.cart-buttons{
				.checkout-btn {
					margin-top: 10px;
					padding:15px 55px 15px 55px !important;
				}
			}
			.cart-total {
				margin:0 10px;
				font-size: 16px; 
			}	
	}
}	 
.layer_cart_overlay {
	background-color: $black;
	display: none;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
	@include opacity(.30);
		@media (max-width: $screen-xs-max) {
			&.isOpen{
				transform: translate3d(220px,0,0);
			}
		}
}

* html .layer_cart_overlay {
	position: absolute;
	left: 0;
	margin-left: -160px;
	@include opacity(.20)
}

 #layer_cart {
// 	background-color: $white;
// 	position: absolute;
 	display: none;
// 	z-index: 99;
// 	width: 84%;
// 	margin-right: 8%;
// 	margin-left: 8%;
// 	@include border-radius(4px);
// 	.layer_cart_product {
// 		padding: 30px 30px 30px 30px;
// 		overflow: hidden;
// 		position: static;
// 		.title {
// 			display: block;
// 			//font: 400 23px/29px $font-family;
// 			color: #46a74e;
// 			margin-bottom: 22px;
// 			// @media (max-width: $screen-xs-max) { // max 767px
// 			// 	font-size: 18px;
// 			// 	padding-right: 0;
// 			// 	line-height: normal;
// 			// }
// 			i {
// 				font-size: 30px;
// 				line-height: 30px;
// 				float: left;
// 				padding-right: 8px;
// 				// @media (max-width: $screen-xs-max) { // max 767px
// 				// 	font-size: 22px;
// 				// 	line-height: 22px;
// 				// }
// 			}
// 		}
// 		.product-image-container {
// 			max-width: 178px;
// 			border: 1px solid $base-border-color;
// 			padding: 5px;
// 			float: left;
// 			margin-right: 30px;
// 			//@media (max-width: $screen-xs) { // max 480px
// 			//	float: none;
// 			//	margin-right: 0;
// 			//	margin-bottom: 10px;
// 			//}
// 		}
// 		.layer_cart_product_info {
// 			padding: 38px 0 0 0;
// 			#layer_cart_product_title {
// 				display: block;
// 				padding-bottom: 8px;
// 			}
// 			> div {
// 				padding-bottom: 7px;
// 				strong {
// 					padding-right: 3px
// 				}
// 			}
// 		}
// 	}
// 	.layer_cart_cart {
// 		background: #fafafa;
// 		border-left: 1px solid $base-border-color;
// 		padding: 21px 30px 170px 30px;
// 		@include border-radius(0px 4px 4px 0px);
// 		position: relative;
// 		// @media (min-width: $screen-lg) { // min 1200px
// 		// 	min-height: 318px;
// 		// }

// 		// @media (min-width: $screen-md) and (max-width: $screen-md-max) { // min 992px max 1199px
// 		// 	min-height: 360px;
// 		// }

// 		// @media (max-width: $screen-sm-max) { // max 991px
// 		// 	@include border-radius(0px 0 4px 4px);
// 		// 	border-left: none;
// 		// 	border-top: 1px solid $base-border-color;
// 		// }
// 		.title {
// 			display: block;
// 			//font: 400 23px/29px $font-family;
// 			//color: $base-text-color;
// 			//border-bottom: 1px solid $base-border-color;
// 			padding-bottom: 13px;
// 			margin-bottom: 17px;
// 			//@media (max-width: $screen-xs-max) { // max 767px
// 			//	font-size: 18px;
// 			//}
// 		}
// 		.layer_cart_row {
// 			padding: 0 0 7px 0;
// 		}
// 		.button-container {
// 			position: absolute;
// 			bottom: 0;
// 			left: 0;
// 			width: 100%;
// 			padding: 0px 30px 20px 30px;
// 			.btn {
// 				margin-bottom: 10px;
// 			}
// 			span.exclusive-medium {
// 				margin-right: 5px;
// 				i {
// 					padding-right: 5px;
// 					color: #777777;
// 				}
// 			}
// 		}
// 	}
// 	.cross {
// 		position: absolute;
// 		right: 7px;
// 		top: 8px;
// 		width: 25px;
// 		height: 25px;
// 		cursor: pointer;
// 		//color: $base-text-color;
// 		z-index: 2;
// 		&:before {
// 			content: "\f057";
// 			display: block;
// 			//font-family: $font-icon;
// 			font-size: 25px;
// 			line-height: 25px;
// 		}
// 		&:hover {
// 			color: $lightblue;
// 		}
// 	}
// 	.continue {
// 		cursor: pointer;
// 	}
// 	p {
// 		padding: 0px;
// 	}
 }

