ul.product_list.grid {
	> li {
		//border:1px solid red;
		padding-bottom: 20px;
		text-align: center;
		height: 370px;
		box-shadow: 0px 2px 3px -1px rgba(151, 171, 187, 0.7);
		
		@media (max-width: $screen-xs){// min 480px 
			height: 400px;	
			margin: 0 auto;
		}

		@media (min-width: $screen-xs) and (max-width: $screen-xs-max+30px) { // min 480px max 767px
			width: 50%;
			float: left;
			padding:10px;
			height: 400px;
		}
		@media (min-width: $screen-sm)and (max-width: $screen-sm-max){
				height: 380px;
		}
		@media (min-width: $screen-md)and (max-width: $screen-md-max){
				height: 355px;
		}
		@media (min-width: $screen-lg){
				height: 380px;
		}

		.product-container {
			//background: $light-background;
			padding: 0;
			position: relative;
			height: 340px;

			@media (max-width: $screen-xs){ // max 480px
				height: 370px;
				width: 250px;
				margin: 0 auto;
			}
			@media (min-width: $screen-xs) and (max-width: $screen-xs-max) { // min 480px max 767px
				height: 370px;
				width: 250px;
				margin: 0 auto;
			}
			@media (min-width: $screen-sm)and (max-width: $screen-sm-max){
				height: 360px;
			}
			@media (min-width: $screen-md)and (max-width: $screen-md-max){
				height: 320px;
				margin:20px;
			}
			@media (min-width: $screen-lg){
				height: 345px;
				margin:20px;
			}

			.product-image-container {
				
				margin-bottom: 13px;
				position: relative;
					

				@media (max-width: $screen-xs-max) { // max 767px
					margin-left: auto;
					margin-right: auto;
				}
				// .content_price {
				// 	position: absolute;
				// 	left: 0;
				// 	bottom: 0px;
				// 	width: 100%;
				// 	//background: url(../img/price-container-bg.png);
				// 	padding: 9px 0;
				// 	//display: none;
				// 	span {
				// 		//color: $light-text-color;
				// 		&.old-price {
				// 			color: #b1b0b0;
				// 		}
				// 	}
				// }
			}
			h5 {
				padding: 0;
				min-height: 15px;
				font-family: $heading-font-family;
				font-size: 14px;
    			text-align: left;
    			line-height: 18px;
    			letter-spacing: 0.115em;
    			>a{
    				text-decoration: none;
    				@extend a;
    			}
			}
			// .comments_note {
			// 	// @media (min-width: $screen-lg) { // min 1200px
			// 	// 	display: none;
			// 	// }
			// 	.star_content {
			// 		margin: 0 3px 12px 59px;
			// 	}
			// }
			 .product-desc {
				text-align:left;
				letter-spacing: 0.115em;
			 }
			 .product-buttons{
			 	width: 100%;
			@extend .bold;
			text-transform: uppercase; 	
			font-family: $heading-font-family;
			font-size: 13px;
				@media (min-width: $screen-sm) and (max-width: $screen-sm-max) { // max 767px
					font-size: 12px;
				}
				@media (min-width: $screen-md) and (max-width: $screen-md-max){
					font-size: 10px;
				}@media (min-width: $screen-lg)and (max-width: $screen-lg){
					font-size: 13px;
				}	


			 }
			.content_price {
				float: left;
				// font-family: $heading-font-family;
				// font-size: 14px;
				
				&:after{
					padding: 0px 5px;
					  color: $black;
				 	  content: "|\00a0";
				}
			}

			.old-price,
			.price,
			.price-percent-reduction {
				display: inline-block;
			}
			.product-flags {
				display: none;
			}
			.old-price {
				margin-right: 5px;
			}
			.button-container {
				// @media (min-width: $screen-lg) { // min 1200px
				// 	display: none;
				// 

				.ajax_add_to_cart_button,
				span.button,
				.lnk_view {
					float: left;
				
				@extend .a;

				}


			}
			.functional-buttons {
				//background: url(../img/functional-bt-shadow.png) repeat-x;
				padding: 11px 0 5px;
				@media (min-width: $screen-lg) { // min 1200px
					display: none;
				}
				div {
					width: 50%;
					float: left;
					padding: 3px 0 4px 0;
				}

				&:hover, .content_price{
					text-decoration: none;
					color: $action-color;
				}
			}
		}
		@media (min-width: $screen-lg) { // min 1200px
			&.hovered {
				.product-container {
					@include box-shadow(rgba(black, 0.17) 0 0 13px);
					position: relative;
					z-index: 10;
					.content_price {
						display: none;
					}
					.product-image-container {
						.content_price {
							display: block;
						}
						.quick-view {
							display: block;
						}
					}
					.functional-buttons,
					.button-container,
					.comments_note {
						display: block;
					}
				}
			}
		}
		@media (min-width: $screen-md) { // min 991px
			&.first-in-line {
				clear: left;
			}
		}
		@media (min-width: $screen-xs) and (max-width: $screen-sm-max) { // min 480px max 991px
			&.first-item-of-tablet-line {
				clear: left;
			}
		}
	}
	li.hovered{
		h5{
			min-height: 30px;
		}
	}
}