// .table_block{
// 	.table{
// 		width: 100%;
// 		thead th{
// 			padding: 4px 10px;
// 			@extend .bold;
// 		}
// 		tbody > tr > td {
// 			padding: 8px 8px;
// 			vertical-align: middle;
// 			&.cart_quantity {
// 				padding: 41px 14px 25px;
// 				width: 70px;
// 				.cart_quantity_button {
// 					margin-top: 3px;
// 					a {
// 						float: left;
// 						margin-right: 3px;
// 						&+ a {
// 							margin-right: 0;
// 						}
// 					}
// 				}
// 			}
// 			&.cart_delete,
// 			&.price_discount_del {
// 				padding: 5px;
// 			}
// 		}
// 		tfoot > tr > td {
// 			vertical-align: middle;
// 		}
// 	}	
// }

#cart_summary {
	thead {
		th {
			padding: 7px 8px 9px 8px;
			&.cart_product {
				@extend .text-center;
			}
		}
	}
	tbody {
		font-family: $base-font-family;
		font-size:12px;
		line-height: 16px;
		tr{
			@extend .border-black;
		}
		td {
			//padding: 7px 8px 9px 8px;			
			//border-size:2px;
			&.cart_product {
				@extend .text-center;
				//padding: 7px;
				 width: 22vw;
				 max-width: 400px;
				//float:left;
				img {
					//border: 1px solid $table-border-color;
					// width: 85%;
					// max-width: 98px;
					float:left;
					left: 0px;
				}
				 .cart_description {
				 	margin-top: 6%;
					 	p a{
					 	@extend .a;
					 	@extend .bold;
					 	color:$black;
						}
						
					 small  a{
					 	@extend .a;
					 	color:$black;
					// 	display: block;
					// 	padding: 5px 0 0 0;
					 }
				}
			}
			&.cart_unit {
				@extend .text-right;
				.price {
					span {
						display: inline-block;
						&.price-percent-reduction {
							margin: 5px auto;
							display: inline-block;
						}
						&.old-price {
							text-decoration: line-through;
						}
					}
				}
			}
			
			&.cart_avail{
				@extend .text-center;
				width: 1%;
				span {
					white-space: nowrap;
				}
			}
			&.cart_quantity{
				.cart_quantity_input {
					 height: 70px;
					width: 50px;
					// line-height: 27px;
					// padding: 0;
					text-align: center;
					 border-width:2px;
					 border-right:none;
					 float: left;
					 box-shadow:none;
					 :focus{
					 	border-color:$black;
					 }
				}
				.cart_quantity_button{
					height: 70px;
					width: 50px;
					float: left;
					border:$base-border;
					border-left:none;
					border-width:2px;

					.cart_quantity_down{
						position:relative;
						right: 20px;
						bottom:-55px;
						.icon-minus{
							width: 0; 
							height: 0; 
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							border-top: 14px solid $black;
						}
					}
					.cart_quantity_up{
						position:relative;
						top: 0px;
						.icon-plus {
							width: 0; 
							height: 0; 
							border-left: 10px solid transparent;
							border-right: 10px solid transparent;
							
							border-bottom: 14px solid $black;
						}
					}
				}
			}
			&.cart_delete{
				@extend .text-center;
				width: 10%;
				
				a{
				position: relative;
				top:-10px;
					@include icon-cross($black,20px,2px);
				}

			}
			&.cart_total {
				@extend .text-center;
			}
		}
	}
	tfoot {
		td {
			&.text-right {
				font-weight: bold;
				color: $black;
			}
			&.price {
				text-align: right;
			}
			&.total_price_container {
				span {
					font: 700 14px / 20px $base-font-family;
					color: #555454;
					text-transform: uppercase;
				}
			}
			&#total_price_container {
				font: 600 21px / 25px $base-font-family;
				//color: $product-price-color;
				//background: $light-background;
			}
		}
	}
}


.standard-checkout{
	margin-left:12vw;
}
