.nav{
 	
	nav{
			padding-top:15px;
			padding-bottom: 30px;
			@media(min-width: $screen-lg){
				position: relative;
			}	


			@media (max-width: $screen-xs-max) {
				padding-bottom: 10px;
				height: 50px;
				background-color:$white;
				width: 100%;

			}	
						@extend .border-blue;

		}
}	
.nav-cover{
	padding-top:15px;
	height: 50px;
	position:absolute;
	z-index:200;
	nav{
		position:relative;
		background-color:transparent !important;
	}
}	

#top_row{
	background-color:$white;
	@media (max-width: $screen-xs-max) {
		position:fixed;
		z-index: 80;
		top:0px;
		padding:0 15px;
		height: 50px;
		transition: transform ease-in-out .3s;
		&.isOpen{
				transform: translate3d(220px,0,0);
		}	
	}	
}
.header-menu{
	background-color:transparent!important;
	nav{
		background-color:transparent;	
		border-bottom:2px solid $white;
	}
	#burgerking .burger .burger-brick{
		background-color:$white;
	}
	.brand-mobile span{
		color: $white;
	}
}


// TopMenu - module css
#block-top-menu{
	
}

#shopping_cart{
	float:right;
	position:relative;
	@extend .top-menu;
	@extend .a;
	#cart-trigger{
		/*.cd-img-replace { //replace text with a background-image 
			display: inline-block;
			overflow: hidden;
			text-indent: 100%;
			white-space: nowrap;
		}*/
	}	
	@media (max-width: $screen-xs-max) {
		position: absolute;
		top: 10px;
		right: 15px;
	}		
}

#burgerking,#burgerking-upper{
	display: block;	
	@include BurgerKing(20px,2px);

	.white .burger-brick{
		background-color:$white;
	}
}	
#languages-block-top{
	position:relative;
	float:left;	
	#first-languages{
		>li{
			@extend .top-menu;
			>a{
				@extend .a;
			}
		}	
		li.selected > span{
			@extend .active;	
		}
		>li+li:before {
		  padding: 10px 10px;
		  color: $black;
	 	  content: "|\00a0";
		}
		
	}		

	@media (max-width: $screen-xs-max) {
		padding-left:0;
	}	
}
.header_user_info {
	float:left;
	position: relative;

	@media (max-width: $screen-xs-max) {
		padding-left:15px;
	}	
	a{
		@extend .top-menu;
		@extend .a;
	}
}


.myaccount-column{
	background-color:$white;
	position:absolute;
	width:15vw;
	z-index:60;
	top:50px;
	right:-50px;
	border: 2px #3d3d3d solid;

	ul li{
		//@extend .top-menu;
		
		a{
			@extend .a;
			font-size:12px;
			line-height: 28px;
		}	
	}
}