.nav{
 	
	nav{
			padding-top:15px;
			padding-bottom: 30px;
			@media(min-width: $screen-lg){
				position: relative;
			}	


			@media (max-width: $screen-xs-max) {
				padding-bottom: 10px;
				height: 50px;
				background-color:$white;
				width: 100%;

			}	
						@extend .border-blue;

		}
}	
.nav-cover{
	padding-top:15px;
	height: 50px;
	position:absolute;
	z-index:200;
	nav{
		position:relative;
		background-color:transparent !important;
	}
}	
.upper-nav{
	position:absolute;
	width:100%;

	.nav-upper{
		position:relative;
	}
	//#block-top-menu{
		.sf-menu > li > a,
		.sf-menu > li+li:before,
		#languages-block-top #first-languages >li>a>span,
		#languages-block-top #first-languages >li.selected>span,
		#languages-block-top #first-languages >li+li:before,
		.header_user_info a
		 {
		  color: $white ;
		  
		}
	#shopping_cart #cart-trigger .cd-img-replace{
	 .cart-icon{
		background:transparent url("../img/icon_svg/cart_white.svg") 0 0 no-repeat;
	  }
	  .ajax_cart_no_product	{
	  	color: $white;
	  }
	}
}

#top_row{
	background-color:$white;
	@media (max-width: $screen-xs-max) {
		position:fixed;
		z-index: 80;
		top:0px;
		padding:0 15px;
		height: 50px;
		transition: transform ease-in-out .3s;
		&.isOpen{
				transform: translate3d(220px,0,0);
		}	
	}	
}


// TopMenu - module css


#shopping_cart{
	float:right;
	position:relative;
	@extend .top-menu;
	
	div#cart-trigger{
		
		position: relative;
		top: -9px;

		.cd-img-replace { //replace text with a background-image 
			//@extend .a;
			display: inline-block;
			overflow: hidden;
			color: $black;
			text-decoration: none;
			// text-indent: 100%;
			// white-space: nowrap;
			//position:absolute;
			.cart-icon{
				position:relative;
				top:3px;
				display: inline-block;
				overflow: hidden;
				margin:0;
				width:23px;
				height:23px;
				z-index:1;
				background:#fff url("../img/icon_svg/cart_black.svg") 0 0 no-repeat;
			}


		}

	}	
	@media (max-width: $screen-xs-max) {
		position: absolute;
		top: 10px;
		right: 15px;
	}		
}

#burgerking,#burgerking-upper{
	display: block;	
	@include BurgerKing(20px,2px);

	.white .burger-brick{
		background-color:$white;
	}
}	
#languages-block-top{
	position:relative;
	float:left;	
	#first-languages{
		>li{
			@extend .top-menu;
			>a{
				@extend .a;
			}
		}	
		li.selected > span{
			@extend .active;	
		}
		>li+li:before {
		  padding: 10px 10px;
		  color: $black;
	 	  content: "|\00a0";
		}
		
	}		

	@media (max-width: $screen-xs-max) {
		padding-left:0;
	}	
}
.header_user_info {
	float:left;
	position: relative;

	@media (max-width: $screen-xs-max) {
		padding-left:15px;
	}	
	a{
		@extend .top-menu;
		@extend .a;
	}
}


.myaccount-column{
	background-color:$white;
	position:absolute;
	width:15vw;
	z-index:60;
	top:50px;
	right:-50px;
	border: 2px #3d3d3d solid;

	ul li{
		//@extend .top-menu;
		
		a{
			@extend .a;
			font-size:12px;
			line-height: 28px;
		}	
	}
}

.header-menu{
	background-color:transparent!important;
	nav{
		background-color:transparent;	
		border-bottom:2px solid $white;
	}

	#burgerking {
		z-index: 300;
		.burger{
			 .burger-brick{
				background-color:$white;
			}
		}		
	}
	.brand-mobile span{
		color: $white;
	}

	#shopping_cart #cart-trigger .cd-img-replace .cart-icon{
						background:transparent url("../img/icon_svg/cart_white.svg") 0 0 no-repeat;	
				}
	#shopping_cart #cart-trigger .cd-img-replace .ajax_cart_no_product	{
				  	color: $white;
				  }
	
}