body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $font-normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  @extend .bold;
}

$types: (
   h1: 5,
   h2: 4,
   h3: 3,
   h4: 3,
   h5: 2,
   h6: 1,
   p: 0,
   aside: 1
);

$modular-scale-ratio: $minor-third;
// try $minor-seventh, $perfect-fifth, $major-third, or other scales

@each $type, $scale in $types {
   .#{$type} {
      font-size: modular-scale($scale);
      font-family: $heading-font-family;
      line-height: $heading-line-height;
      margin: 0 0 $small-spacing;
      @extend .bold;
   }   
}

p {
  margin: 0 0 $small-spacing;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $font-normal;
}

i,cite,em{
  font-style: italic;
}
strong,b ,.bold{
  font-weight: $font-bold;
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 15%);
  }
}
.a{
  color:$base-font-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;
  &:active,
  &:focus,
  &:hover {
    color: $action-color;
    text-decoration: none;
  }
}

.active{
  color: $lightblue;
}


hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

h1.page-heading, .page-heading {
  @extend .h1;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
 }
 h2.page-heading {
  @extend .h2;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
 }
h2.page-subheading {
  @extend .h3;
  margin-top: 20px;
  margin-bottom: 25px;
  overflow: hidden;
}

h5.page-product-heading {
  @extend .h4;
  margin-top: 20px;
  overflow: hidden;
  font-style: 1.528em;
}

.brand-mobile{ 
    width: 100%;
    text-align:center;
    span{
      font-family: $heading-font-family;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: $font-normal;
      letter-spacing: 0.125em;
      color: $black;
    }  
  
}
