@media (min-width: 980px) {
}
@media (max-width: 979px) {
	.navbar .btn-navbar{float: left;margin-left: 30px;}
	 .menu-top .mega-group > a:focus .menu-title,
	 .menu-top .mega-group > a:hover .menu-title,
	.dropdown-menu a:focus,
	.dropdown-menu a:hover{color: #fff;}
	 .menu-top .menu-content p,
	.dropdown-menu a .menu-title{color: #fff;}
	 .menu-top .caret{top: 15px;}
	 /*menu*/
	 .menu-top .cols2,
	 .menu-top .cols3{
		min-width:inherit;
	}
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a{padding: 9px 0;}
	#slideshow .container {
		overflow: hidden;
	}
	
}
@media (min-width: 768px) and (max-width: 979px) {
	.lofadvafooter .lof-block {
		width: 33.33% !important;
	}
	.row-fluid .myspan1 {
	  width: 8.33%!important;
	 }
	 .row-fluid .myspan2 {
	  width: 16.66%!important;
	 }
	 .row-fluid .myspan3 {
	  width: 25%!important;
	 }
	 .row-fluid .myspan4 {
	  width: 33.33%!important;
	 }
	 .row-fluid .myspan5 {
	  width: 41.66%!important;
	 }
	 .row-fluid .myspan6 {
	  width: 50%!important;
	 }
	 .row-fluid [class*="myspan"] {
	  -moz-box-sizing: border-box;
	  display: block;
	  float: left;
	  margin: 0!important;
	 }
	  .menu-top .row-fluid [class*="span"]{width: 100%;}
}
@media (max-width: 767px) {
	.row-fluid #order_step > li {
		width:100%
	}
	.lofadvafooter .lof-block{width: 50%!important}	
	
	.lofadvafooter .lof-position-wrap {
		padding: 0 10px;
	}
	#footer-bottom{padding: 20px 10px;}
	* .nav-item:first-child .item-top {
		padding-left: 5px;
	}
	.blockparmanentlinks{display: none;}
	.banner-welcome-wrap .banner-welcome{width: 60%;}
	#leo-best-sellers_block_center .title_block:before{width: auto;}
	#header_logo{position: relative;}
	#topminibasket {		
		right: 10px;
	}
	.block-search-top{ z-index: 10;    top: 97px;}
	.products_block .row-fluid:first-child .p-item .product-container{border-top: 1px solid #e4e4e4; border-right: none;}
	.leo-customhtml-bottom img,
	#index .leo-customhtml-ptop img{width: 100%; margin-bottom: 10px;}
	.customhtml,
	.p-item .product-container{text-align: center;}
	
	.leo-customhtml-cbottom .findout{margin-top: 20px;}
	.navbar-inner{padding-left: 35px;}
	#header .header .container{position: relative;}
	#header .header .container:before{
		width: 100%;
		height: 47px;
		background:#27a7e6;
		position: absolute;
		content: "";
		left: 0;
		top: 8px;
	}
	
}
@media (min-width: 600px) and (max-width: 767px) {
	.row-fluid .myspan1 {
	  width: 8.33%!important;
	 }
	 .row-fluid .myspan2 {
	  width: 16.66%!important;
	 }
	 .row-fluid .myspan3 {
	  width: 25%!important;
	 }
	 .row-fluid .myspan4 {
	  width: 33.33%!important;
	 }
	 .row-fluid .myspan5 {
	  width: 41.66%!important;
	 }
	 .row-fluid .myspan6 {
	  width: 50%!important;
	 }
	 .row-fluid [class*="myspan"] {
	  -moz-box-sizing: border-box;
	  display: block;
	  float: left;
	  margin: 0!important;
	 }
}
@media (max-width: 480px) {	
	.lofadvafooter .lof-block{width: 100%!important}		
	#currencies_block_top{display: none;}
	.p-item .product-container img{width: 90%!important;}
	.nav-item .item-top{padding: 0 5px;}
	.dropdown-submenu > .dropdown-menu {
		left: 0;
		position: static;
		width: 99%;
	}
	#productsview {
		margin-bottom: 5px;
	}
	#pb-left-column h1,
	#pb-left-column #short_description_block,
	#pb-left-column #buy_block {
		padding-left:10px;
	}
	#languages_block_top {
		text-align: left;
	}
	
	.block-search-top {
		background: none repeat scroll 0 0 transparent;
		top: 197px;
	}
	#header{text-align: center;}
	body{padding: 0 5px!important;}
	
}
@media (max-width: 320px) {
	.navbar .btn-navbar {
		margin-left: 20px;
		margin-top: 10px;
	}
	
}	
